Repository OilCoder/reservoir-simulation: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

validate-file-naming:
  name: Validate file naming conventions
  entry: .claude/hooks/validate-file-naming.sh
  language: script

validate-code-style:
  name: Validate code style rules
  entry: .claude/hooks/validate-code-style.sh
  language: script

validate-docstrings:
  name: Validate Python docstrings
  entry: .claude/hooks/validate-docstrings.sh
  language: script

cleanup-prints:
  name: Check for print statements
  entry: .claude/hooks/cleanup-print-statements.sh
  language: script

Remove duplicate docs folder - documentation consolidated in obsidian-vault/
  docs/English/08_simulator_data_generation.md
  docs/English/09_dashboard_usage.md
  docs/Spanish/01_introduccion.md
  docs/Spanish/02_configuracion_inicial.md
  docs/Spanish/03_configuracion_parametros.md
  docs/Spanish/04_simulacion_yacimientos.md
  docs/Spanish/05_extraccion_datos.md
  docs/Spanish/06_visualizacion_qaqc.md
  docs/Spanish/07_testing_validacion.md
  docs/Spanish/08_preparacion_datos_ml.md
  docs/Spanish/09_modelos_sustitutos.md
  docs/Spanish/10_casos_uso.md
  docs/Spanish/11_troubleshooting_faq.md
  docs/Spanish/README.md
  docs/generated_projects_map.py
  docs/knowledge/.obsidian/app.json
  docs/knowledge/README.md
  docs/project_map.md
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

Reorganize MRST data structure: add simulation_data subfolder
  .claude/settings.local.json
  .devcontainer copy/Dockerfile
  .devcontainer copy/devcontainer.json
  .devcontainer copy/environment.yml
  CLAUDE.md
  mrst_simulation_scripts/s02_define_fluid.m
  mrst_simulation_scripts/s04_create_schedule.m
  mrst_simulation_scripts/s06_export_dataset.m
  mrst_simulation_scripts/s10_calculate_volumetric_data.m
  mrst_simulation_scripts/s11a_export_initial_conditions.m
  mrst_simulation_scripts/s11b_export_static_data.m
  mrst_simulation_scripts/s11c_export_dynamic_fields.m
  mrst_simulation_scripts/s11d_export_metadata.m
  mrst_simulation_scripts/s13_generate_completion_report.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/util_ensure_directories.m
  se.mcp.json
Due: validate-file-naming, validate-code-style, cleanup-prints

Restructure MRST configuration: split into professional workflow files
  config/README.md
  config/reservoir_config.yaml
  mrst_simulation_scripts/config/fluid_properties_config.yaml
  mrst_simulation_scripts/config/initial_conditions_config.yaml
  mrst_simulation_scripts/config/rock_properties_config.yaml
  mrst_simulation_scripts/config/wells_schedule_config.yaml
  mrst_simulation_scripts/s01_setup_field.m
  mrst_simulation_scripts/s02_define_fluid.m
  mrst_simulation_scripts/s04_create_schedule.m
  mrst_simulation_scripts/s07a_setup_components.m
  mrst_simulation_scripts/s07b_setup_state.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/util_read_config.m
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: Add comprehensive Eagle West Field reservoir definition
  .claude/hooks/route-files.sh
  .claude/hooks/validate-bash-commands.sh
  .claude/hooks/validate-multiedit-scope.sh
  .claude/hooks/validate-task-security.sh
  .claude/hooks/validate-todo-format.sh
  .claude/settings.json
  .claude/settings.local.json
  dashboard/.claude/settings.json
  obsidian-vault/.claude/settings.json
  obsidian-vault/Planning/2025-01-25_Reservoir_Definition_Plan.md
  obsidian-vault/Planning/Reservoir_Definition/00_Overview.md
  obsidian-vault/Planning/Reservoir_Definition/01_Structural_Geology.md
  obsidian-vault/Planning/Reservoir_Definition/02_Rock_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/03_Fluid_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/04_SCAL_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/05_Wells_Completions.md
  obsidian-vault/Planning/Reservoir_Definition/06_Production_History.md
  obsidian-vault/Planning/Reservoir_Definition/07_Initialization.md
  obsidian-vault/Planning/Reservoir_Definition/08_MRST_Implementation.md
  obsidian-vault/Planning/Reservoir_Definition/09_Volumetrics_Reserves.md
  obsidian-vault/Planning/Reservoir_Definition/README_Eagle_West_Field.md
  src/.claude/settings.json
Due: none

refactor: Transform reservoir definition from field history to technical simulation specs
  .devcontainer/devcontainer.json
  obsidian-vault/Planning/2025-01-25_Reservoir_Definition_Plan.md
  obsidian-vault/Planning/Reservoir_Definition/00_Overview.md
  obsidian-vault/Planning/Reservoir_Definition/02_Rock_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/03_Fluid_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/04_SCAL_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/05_Wells_Completions.md
  obsidian-vault/Planning/Reservoir_Definition/06_Production_History.md
  obsidian-vault/Planning/Reservoir_Definition/07_Initialization.md
  obsidian-vault/Planning/Reservoir_Definition/08_MRST_Implementation.md
  obsidian-vault/Planning/Reservoir_Definition/09_Volumetrics_Reserves.md
  obsidian-vault/Planning/Reservoir_Definition/README_Eagle_West_Field.md
Due: none

feat: Implement realistic 15-well phased development program
  obsidian-vault/Planning/Reservoir_Definition/00_Overview.md
  obsidian-vault/Planning/Reservoir_Definition/05_Wells_Completions.md
  obsidian-vault/Planning/Reservoir_Definition/06_Production_History.md
  obsidian-vault/Planning/Reservoir_Definition/README_Eagle_West_Field.md
Due: none

feat: Add comprehensive MRST simulation data catalog documentation
  .claude/settings.local.json
  obsidian-vault/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
  obsidian-vault/Planning/Simulation_Data_Catalog/01_Static_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/02_Dynamic_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/03_Solver_Internal_Data.md
  obsidian-vault/Planning/Simulation_Data_Catalog/04_Derived_Calculated_Data.md
  obsidian-vault/Planning/Simulation_Data_Catalog/05_Visualization_Outputs.md
  obsidian-vault/Planning/Simulation_Data_Catalog/06_ML_Ready_Features.md
  obsidian-vault/Planning/Simulation_Data_Catalog/07_Metadata_Specifications.md
  obsidian-vault/Planning/Simulation_Data_Catalog/08_Data_Access_Guide.md
  obsidian-vault/Planning/Simulation_Data_Catalog/09_Storage_Organization.md
  obsidian-vault/Planning/Simulation_Data_Catalog/README_Data_Catalog.md
Due: none

refactor: Transform documentation from code tutorials to technical specifications
  obsidian-vault/Planning/Reservoir_Definition/00_Overview.md
  obsidian-vault/Planning/Reservoir_Definition/02_Rock_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/03_Fluid_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/04_SCAL_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/07_Initialization.md
  obsidian-vault/Planning/Reservoir_Definition/08_MRST_Implementation.md
  obsidian-vault/Planning/Reservoir_Definition/09_Volumetrics_Reserves.md
  obsidian-vault/Planning/Simulation_Data_Catalog/01_Static_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/02_Dynamic_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/03_Solver_Internal_Data.md
  obsidian-vault/Planning/Simulation_Data_Catalog/04_Derived_Calculated_Data.md
  obsidian-vault/Planning/Simulation_Data_Catalog/06_ML_Ready_Features.md
  obsidian-vault/Planning/Simulation_Data_Catalog/08_Data_Access_Guide.md
  obsidian-vault/Planning/Simulation_Data_Catalog/09_Storage_Organization.md
Due: none

fix: Remove unrealistic file size estimates from documentation
  obsidian-vault/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
  obsidian-vault/Planning/Simulation_Data_Catalog/01_Static_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/02_Dynamic_Data_Inventory.md
  obsidian-vault/Planning/Simulation_Data_Catalog/04_Derived_Calculated_Data.md
  obsidian-vault/Planning/Simulation_Data_Catalog/05_Visualization_Outputs.md
  obsidian-vault/Planning/Simulation_Data_Catalog/06_ML_Ready_Features.md
  obsidian-vault/Planning/Simulation_Data_Catalog/07_Metadata_Specifications.md
  obsidian-vault/Planning/Simulation_Data_Catalog/README_Data_Catalog.md
Due: none

docs: Add complete directory structures for all three storage organization strategies
  obsidian-vault/Planning/Simulation_Data_Catalog/09_Storage_Organization.md
Due: none

feat: Add comprehensive Claude Code generation process documentation
  .claude/settings.local.json
  obsidian-vault/Planning/Claude_Code_Generation_Process/00_Overview.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/01_Configuration_Structure.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/02_Rules_System.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/03_Hook_System.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/04_Code_Generation_Flow.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/05_Validation_Pipeline.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/06_Templates_and_Patterns.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/07_Intelligent_Features.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/08_Traceability_System.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/README_Claude_Code_Process.md
Due: none

feat: Implement auto-monitor for complex tasks with documentation updates
  .claude/hooks/auto-monitor-agents.sh
  .claude/settings.json
  .claude/settings.local.json
  obsidian-vault/Planning/Claude_Code_Generation_Process/00_Overview.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/03_Hook_System.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/04_Code_Generation_Flow.md
  obsidian-vault/Planning/Claude_Code_Generation_Process/README_Claude_Code_Process.md
Due: none

feat: Implement comprehensive daily TODO management system
  .claude/commands/todo.md
  .claude/scripts/todo-dashboard.py
  .claude/scripts/todo-manager.py
  .claude/settings.local.json
  obsidian-vault/Planning/Todo_Lists/2025-07-31.md
  obsidian-vault/Planning/Todo_Lists/templates/daily_todo_template.md
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

feat: Configure todo system with date-based organization and MCP integration
  .claude/hooks/validate-todo-format.sh
  .claude/settings.json
  .claude/settings.local.json
  .mcp.json
  todo_list/2025-07-31.md
  todo_list/todo-wrapper.sh
Due: none

refactor: Implement modular MRST workflow with Phase 1-2 complete
  mrst_simulation_scripts/config/grid_config.yaml
  mrst_simulation_scripts/init_and_run.m
  mrst_simulation_scripts/s00_load_config.m
  mrst_simulation_scripts/s00_run_complete_workflow.m
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s01_initialize_simulation.m
  mrst_simulation_scripts/s02_build_static_model.m
  mrst_simulation_scripts/s02_create_grid.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s03_setup_fluid_system.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s05_add_faults.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/util_read_config.m
  obsidian-vault/Planning/Reservoir_Definition/01_Structural_Geology.md
  obsidian-vault/Planning/Reservoir_Definition/08_MRST_Implementation.md
  obsidian-vault/Planning/Todo_Lists/2025-08-01.md
  obsidian-vault/Planning/Todo_Lists/README.md
  obsidian-vault/Planning/Todo_Lists/templates/daily_todo_template.md
  obsidian-vault/Planning/Todo_Lists/templates/simple_todo_template.md
  obsidian-vault/Planning/Todo_Lists/todo-wrapper.sh
  todo_list/2025-07-31.md
  todo_list/2025-08-01.md
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: Implement distributed YAML architecture and complete Phase 3 workflow
  mrst_simulation_scripts/config/rock_properties_config.yaml
  mrst_simulation_scripts/s00_load_config.m
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s02_create_grid.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s05_add_faults.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s08_assign_layer_properties.m
  mrst_simulation_scripts/s09_spatial_heterogeneity.m
  mrst_simulation_scripts/s99_run_workflow.m
Due: validate-file-naming, validate-code-style, cleanup-prints

refactor: Modernize architecture with Python-MRST integration
  .claude/agents/coder.md
  .claude/agents/debugger.md
  .claude/agents/project-workflow-agent.md
  .claude/agents/tester.md
  .claude/hooks/subagent_stop.py
  .claude/hooks/user_prompt_submit.py
  .claude/settings.json
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/environment.yml
  .devcontainer/init-firewall.sh
  .devcontainer/iteracion1.md
  .devcontainer/startup.sh
  .devcontainer/test-integration.py
  .mcp.json
  test_pytorch_gpu.py
  test_tensorflow_gpu.py
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

feat: Complete YAML-Documentation consistency and advanced reservoir modeling
  .claude/agents/coder.md
  .claude/agents/debugger.md
  .claude/agents/tester.md
  .devcontainer/Dockerfile
  data/README.md
  data/mrst_simulation/static/grid_summary.txt
  mrst_simulation_scripts/README.md
  mrst_simulation_scripts/config/fluid_properties_config.yaml
  mrst_simulation_scripts/config/grid_config.yaml
  mrst_simulation_scripts/config/initial_conditions_config.yaml
  mrst_simulation_scripts/config/rock_properties_config.yaml
  mrst_simulation_scripts/config/wells_config.yaml
  mrst_simulation_scripts/config/wells_schedule_config.yaml
  mrst_simulation_scripts/read_yaml_config.m
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s02_create_grid.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s05_add_faults.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s08_assign_layer_properties.m
  mrst_simulation_scripts/s09_spatial_heterogeneity.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/s99_run_workflow_fixed.m
  mrst_simulation_scripts/util_read_config.m
  obsidian-vault/Planning/Reservoir_Definition/00_Overview.md
  obsidian-vault/Planning/Reservoir_Definition/02_Rock_Properties.md
  obsidian-vault/Planning/Reservoir_Definition/05_Wells_Completions.md
  obsidian-vault/Planning/Reservoir_Definition/08_MRST_Implementation.md
  obsidian-vault/Planning/Simulation_Data_Catalog/09_Storage_Organization.md
Due: validate-file-naming, validate-code-style, cleanup-prints

fix: Complete MRST workflow with Octave compatibility and table format display
  data/mrst_simulation/results/test_summary_20250807_173221.txt
  data/mrst_simulation/results/workflow_summary_20250807_175526.txt
  data/mrst_simulation/results/workflow_summary_20250807_175625.txt
  data/mrst_simulation/static/final_rock_summary.txt
  data/mrst_simulation/static/grid_summary.txt
  mrst_simulation_scripts/debug/dbg_mrst_modules_persistence.m
  mrst_simulation_scripts/debug/dbg_mrst_modules_simple.m
  mrst_simulation_scripts/debug/dbg_persistence_issue.m
  mrst_simulation_scripts/debug/dbg_s01_investigation.m
  mrst_simulation_scripts/print_utils.m
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s02_create_grid.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s05_add_faults.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s08_assign_layer_properties.m
  mrst_simulation_scripts/s09_spatial_heterogeneity.m
  mrst_simulation_scripts/s99_run_workflow.m
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: Complete MRST workflow optimization
  mrst_simulation_scripts/print_utils.m
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/s99_run_workflow_fixed.m
Due: validate-file-naming, validate-code-style, cleanup-prints

fix: Complete workflow output optimization and MRST initialization
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s99_run_workflow.m
Due: validate-file-naming, validate-code-style, cleanup-prints

fix: Complete MRST workflow with YAML parser fixes and grid refinement
  data/mrst_simulation/static/fluid_deck_summary.txt
  mrst_simulation_scripts/config/fault_config.yaml
  mrst_simulation_scripts/config/fluid_properties_config.yaml
  mrst_simulation_scripts/config/grid_config.yaml
  mrst_simulation_scripts/config/rock_properties_config.yaml
  mrst_simulation_scripts/config/structural_framework_config.yaml
  mrst_simulation_scripts/read_yaml_config.m
  mrst_simulation_scripts/s02_create_grid.m
  mrst_simulation_scripts/s03_define_fluids.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s05_add_faults.m
  mrst_simulation_scripts/s06_grid_refinement.m
  mrst_simulation_scripts/s07_define_rock_types.m
  mrst_simulation_scripts/s09_spatial_heterogeneity.m
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: Complete 4-container Docker setup with Claude Code integration
  .devcontainer/CONTEXT_RECOVERY_GUIDE.md
  .devcontainer/Dockerfile
  .devcontainer/HYBRID_MRST_OPM_IMPLEMENTATION_PLAN.md
  .devcontainer/REBUILD_INSTRUCTIONS.md
  .devcontainer/devcontainer.json
  .devcontainer/iteracion1.md
  CLAUDE.md
  docker-compose.yml
Due: none

feat: Migrate to multi-mode policy system with context-aware validation
  .claude/README-OPTIMIZATION.md
  .claude/STRUCTURE.md
  .claude/agents/coder.md
  .claude/agents/debugger.md
  .claude/agents/doc-writer.md
  .claude/agents/tester.md
  .claude/commands/validate
  .claude/hooks/post_tool_use.py
  .claude/hooks/user_prompt_submit_v2.py
  .claude/policies/canon-first.md
  .claude/policies/data-authority.md
  .claude/policies/exception-handling.md
  .claude/policies/fail-fast.md
  .claude/policies/kiss-principle.md
  .claude/rules/00-project-guidelines.md
  .claude/rules/09-canon-first-philosophy.md
  .claude/rules/10-code-cheatsheet.md
  .claude/settings.json
  CLAUDE.md
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

chore: Clean workspace and update system configuration
  .claude/agents/coder.md
  .claude/agents/debugger.md
  .claude/agents/doc-writer.md
  .claude/agents/tester.md
  .devcontainer/mrst/Dockerfile
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  dashboard/README.md
  dashboard/s01_data_loader.py
  dashboard/s02_viz_components.py
  dashboard/s03_overview_page.py
  dashboard/s04_pressure_page.py
  dashboard/s05_production_page.py
  dashboard/s06_reservoir_page.py
  dashboard/s07_export_utils.py
  dashboard/s99_dashboard_app.py
  docker-compose.yml
  opm/README.md
  opm/resinsight_data/EAGLE_WEST.DATA
  opm/resinsight_data/EXPORT_SUMMARY.txt
  opm/resinsight_data/GRID.inc
  opm/resinsight_data/PROPS.inc
  opm/resinsight_data/PVT.inc
  opm/resinsight_data/SCHEDULE.inc
  opm/resinsight_data/SOLUTION.inc
  opm/resinsight_data/WELLS.inc
  opm/resinsight_data/eagle_west_analysis.rsp
  opm/scripts/prepare_resinsight.py
  opm/scripts/run_opm_workflow.py
  opm/scripts/s21_export_to_opm.m
  opm/scripts/s21_export_to_opm.py
  opm/scripts/s22_opm_simulation.py
  opm/scripts/s24_opm_analytics.py
  opm/scripts/validate_opm_format.py
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

refactor: rename obsidian-vault to docs directory
  docs/Planning/Reservoir_Definition/00_Overview.md
  docs/Planning/Reservoir_Definition/01_Structural_Geology.md
  docs/Planning/Reservoir_Definition/02_Rock_Properties.md
  docs/Planning/Reservoir_Definition/03_Fluid_Properties.md
  docs/Planning/Reservoir_Definition/04_SCAL_Properties.md
  docs/Planning/Reservoir_Definition/05_Wells_Completions.md
  docs/Planning/Reservoir_Definition/06_Production_History.md
  docs/Planning/Reservoir_Definition/07_Initialization.md
  docs/Planning/Reservoir_Definition/08_MRST_Implementation.md
  docs/Planning/Reservoir_Definition/09_Volumetrics_Reserves.md
  docs/Planning/Reservoir_Definition/10_Solver_Configuration.md
  docs/Planning/Reservoir_Definition/README_Eagle_West_Field.md
  docs/Planning/Reservoir_Definition/VARIABLE_INVENTORY.md
  docs/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
Due: none

docs: update all documentation paths from obsidian-vault to docs
  .claude/settings.json
  CLAUDE.md
  README.md
Due: none

feat: implement Canon-First Policy with canonical data structure
  data/by_type/static/fluid/pvt_comprehensive_summary.txt
  data/mrst/static/fluid/scal_summary.txt
  docs/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
  mrst_simulation_scripts/README.md
  mrst_simulation_scripts/README_SESSION_MANAGEMENT.md
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s03_create_pebi_grid.m
  mrst_simulation_scripts/s04_structural_framework.m
  mrst_simulation_scripts/s06_create_base_rock_structure.m
  mrst_simulation_scripts/s07_add_layer_metadata.m
  mrst_simulation_scripts/s08_apply_spatial_heterogeneity.m
  mrst_simulation_scripts/s09_relative_permeability.m
  mrst_simulation_scripts/s10_capillary_pressure.m
  mrst_simulation_scripts/utils/check_and_load_mrst_session.m
  mrst_simulation_scripts/utils/faults/load_structural_framework.m
  mrst_simulation_scripts/utils/pebi/export_pebi_results.m
  mrst_simulation_scripts/utils/save_consolidated_data.m
  mrst_simulation_scripts/utils/structural/export_structural_data.m
  mrst_simulation_scripts/utils/structural/load_structural_grid.m
  task_delegation.py
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

CRITICAL: Fix Canon-First Policy violation in data structure
  mrst_simulation_scripts/s13_saturation_distribution.m
  mrst_simulation_scripts/s18_development_schedule.m
  mrst_simulation_scripts/s20_solver_setup.m
  mrst_simulation_scripts/utils/faults/export_fault_system.m
  mrst_simulation_scripts/utils/pebi/export_grid_files.m
  mrst_simulation_scripts/utils/pvt_processing/export_pvt_results.m
  mrst_simulation_scripts/utils/structural/export_structural_data.m
Due: validate-file-naming, validate-code-style, cleanup-prints

Path conditions:
  validate-file-naming: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  validate-code-style: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  validate-docstrings: any of: \.py$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  cleanup-prints: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
