Repository OilCoder/reservoir-simulation: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

validate-file-naming:
  name: Validate file naming conventions
  entry: .claude/hooks/validate-file-naming.sh
  language: script

validate-code-style:
  name: Validate code style rules
  entry: .claude/hooks/validate-code-style.sh
  language: script

validate-docstrings:
  name: Validate Python docstrings
  entry: .claude/hooks/validate-docstrings.sh
  language: script

cleanup-prints:
  name: Check for print statements
  entry: .claude/hooks/cleanup-print-statements.sh
  language: script

feat: complete comprehensive s19 and s20 audit with critical fixes
  data/mrst/aquifer_stats.txt
  data/mrst/completion_summary.txt
  data/mrst/development_schedule_summary.txt
  data/mrst/phase_schedules.txt
  data/mrst/production_controls_summary.txt
  data/mrst/static/fluid/scal_summary.txt
  data/mrst/well_coordinates.csv
  data/mrst/well_indices.txt
  data/mrst/wells_summary.txt
  mrst_simulation_scripts/s19_production_targets.m
  mrst_simulation_scripts/s20_solver_setup.m
  mrst_simulation_scripts/utils/day.m
  mrst_simulation_scripts/utils/solver/black_oil_model_setup.m
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: consolidate to 9-modular file architecture and cleanup system
  CLAUDE.md
  data/mrst/aquifer_stats.txt
  data/mrst/completion_summary.txt
  data/mrst/development_schedule_summary.txt
  data/mrst/phase_schedules.txt
  data/mrst/production_controls_summary.txt
  data/mrst/well_coordinates.csv
  data/mrst/well_indices.txt
  data/mrst/wells_summary.txt
  data/simulation_data/development_schedule_summary.txt
  docs/Planning/REFACTORING_PLAN.md
  docs/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
  mrst_simulation_scripts/config/wells_config_corrupted_backup.yaml
  mrst_simulation_scripts/config/workflow_config.yaml
  mrst_simulation_scripts/s13_saturation_distribution.m
  mrst_simulation_scripts/s15_well_placement.m
  mrst_simulation_scripts/s16_well_completions.m
  mrst_simulation_scripts/s17_production_controls.m
  mrst_simulation_scripts/s18_development_schedule.m
  mrst_simulation_scripts/s19_production_targets.m
  mrst_simulation_scripts/s20_consolidate_development.m
  mrst_simulation_scripts/s20_solver_setup.m
  mrst_simulation_scripts/startup.m
  mrst_simulation_scripts/utils/relperm/fluid_structure_setup.m
  mrst_simulation_scripts/utils/workflow/execute_workflow_phase.m
  mrst_simulation_scripts/utils/workflow/export_workflow_results.m
  mrst_simulation_scripts/utils/workflow/get_phase_specifications.m
  task_delegation.py
Due: validate-file-naming, validate-code-style, validate-docstrings, cleanup-prints

feat: commit current incompTPFA solver implementation with working simulation
  .claude/settings.json
  data/mrst/aquifer_stats.txt
  mrst_simulation_scripts/config/initialization_config.yaml
  mrst_simulation_scripts/config/wells_config.yaml
  mrst_simulation_scripts/s21_run_simulation.m
  mrst_simulation_scripts/s22_analyze_results.m
  run_mrst.sh
Due: validate-file-naming, validate-code-style, cleanup-prints

docs: add comprehensive solver strategy documentation
  SOLVER_STRATEGY.md
Due: none

feat: complete 40-year Eagle West Field simulation with gas production
  CLAUDE.md
  DOCUMENTATION_UPDATE_SUMMARY.md
  EXTENSION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  data/mrst/aquifer_stats.txt
  docs/Planning/Reservoir_Definition/00_Overview.md
  mrst_simulation_scripts/config/wells_config.yaml
  mrst_simulation_scripts/s21_run_simulation.m
  mrst_simulation_scripts/s21_run_simulation_debug.m
  task_delegation.md
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: complete comprehensive YAML consolidation and policy compliance
  CANON_FIRST_IMPLEMENTATION_SUMMARY.md
  CONSOLIDATION_IMPLEMENTATION_SUMMARY.md
  HARDCODED_VALUES_REMEDIATION_REPORT.md
  POLICY_COMPLIANCE_SUMMARY.md
  ROLLBACK_PROCEDURES.md
  SCRIPT_UPDATE_REQUIREMENTS.md
  YAML_CONSOLIDATION_MAPPING.md
  YAML_CONSOLIDATION_PLAN.md
  data/mrst/aquifer_stats.txt
  mrst_simulation_scripts/config/analysis_config.yaml
  mrst_simulation_scripts/config/completions_config.yaml
  mrst_simulation_scripts/config/development_config.yaml
  mrst_simulation_scripts/config/initialization_config.yaml
  mrst_simulation_scripts/config/pvt_config.yaml
  mrst_simulation_scripts/config/simulation_config.yaml
  mrst_simulation_scripts/config/solver_config.yaml
  mrst_simulation_scripts/config/units_config.yaml
  mrst_simulation_scripts/s11_pvt_tables.m
  mrst_simulation_scripts/s21_run_simulation.m
  mrst_simulation_scripts/s99_run_workflow.m
  mrst_simulation_scripts/utils/faults/get_fault_tier_classification.m
  mrst_simulation_scripts/utils/print_utils.m
  mrst_simulation_scripts/utils/read_yaml_config.m
  mrst_simulation_scripts/utils/validate_mrst_session.m
  mrst_simulation_scripts/utils/wells/generate_development_phases.m
  mrst_simulation_scripts/utils/workflow/define_workflow_phases.m
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: achieve 83% policy compliance with critical fixes and documentation cleanup
  .github/workflows/code-compliance.yml
  CANON_FIRST_IMPLEMENTATION_SUMMARY.md
  CONSOLIDATION_IMPLEMENTATION_SUMMARY.md
  HARDCODED_VALUES_REMEDIATION_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  POLICY_COMPLIANCE_SUMMARY.md
  README.md
  ROLLBACK_PROCEDURES.md
  SCRIPT_UPDATE_REQUIREMENTS.md
  YAML_CONSOLIDATION_MAPPING.md
  YAML_CONSOLIDATION_PLAN.md
  data/mrst/aquifer_stats.txt
  docs/Field_Development/40_Year_Simulation_Update.md
  docs/Field_Development/Gas_Production_Extension.md
  docs/Planning/Reservoir_Definition/05_Wells_Completions.md
  mrst_simulation_scripts/s13_saturation_distribution.m
  mrst_simulation_scripts/s18_development_schedule.m
  run_mrst.sh
  task_delegation.md
Due: validate-file-naming, validate-code-style, cleanup-prints

feat: complete parameter consistency audit and OPM conversion readiness
  CLAUDE.md
  data/mrst/aquifer_stats.txt
  docs/Planning/Final_Consistency_Validation_Report.md
  docs/Planning/Simulation_Data_Catalog/00_Data_Catalog_Overview.md
  mrst_simulation_scripts/config/development_config.yaml
  mrst_simulation_scripts/config/fluid_properties_config.yaml
  mrst_simulation_scripts/config/grid_config.yaml
  mrst_simulation_scripts/config/solver_config.yaml
  mrst_simulation_scripts/config/wells_config.yaml.backup
  mrst_simulation_scripts/s01_initialize_mrst.m
  mrst_simulation_scripts/s12_pressure_initialization.m
  mrst_simulation_scripts/s13_saturation_distribution.m
  mrst_simulation_scripts/s15_well_placement.m
  mrst_simulation_scripts/s18_development_schedule.m
  mrst_simulation_scripts/s21_run_simulation.m
  mrst_simulation_scripts/s21_run_simulation_debug.m
  mrst_simulation_scripts/s22_analyze_results.m
  mrst_simulation_scripts/utils/completions/calculate_single_well_index.m
Due: validate-file-naming, validate-code-style, cleanup-prints

Path conditions:
  validate-file-naming: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  validate-code-style: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  validate-docstrings: any of: \.py$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
  cleanup-prints: any of: \.(py|m)$ and not (^(tests|debug)/) and not (^(tests|debug|\.claude/templates)/)
